/*
Softball Stats 
http://softballstats.sourceforge.net/
Written by David Carlo. This CSS file was created by Daigo Fujiwara.
*/

/* OOCSS padding-margin */
.pts, .pas, .pvs { padding-top: 5px !important; }
.ptm, .pam, .pvm { padding-top: 10px !important; }
.ptl, .pal, .pvl { padding-top: 20px !important; }
.ptn, .pan, .pvn { padding-top: 0px !important; }
.prs, .pas, .phs { padding-right: 5px !important; }
.prm, .pam, .phm { padding-right: 10px !important; }
.prl, .pal, .phl { padding-right: 20px !important; }
.prn, .pan, .phn { padding-right: 0px !important; }
.pbs, .pas, .pvs { padding-bottom: 5px !important; }
.pbm, .pam, .pvm { padding-bottom: 10px !important; }
.pbl, .pal, .pvl { padding-bottom: 20px !important; }
.pbn, .pan, .pvn { padding-bottom: 0px !important; }
.pls, .pas, .phs { padding-left: 5px !important; }
.plm, .pam, .phm { padding-left: 10px !important; }
.pll, .pal, .phl { padding-left: 20px !important; }
.pln, .pan, .phn { padding-left: 0px !important; }
.mts, .mas, .mvs { margin-top: 5px !important; }
.mtm, .mam, .mvm { margin-top: 10px !important; }
.mtl, .mal, .mvl { margin-top: 20px !important; }
.mtn, .man, .mvn { margin-top: 0px !important; }
.mrs, .mas, .mhs { margin-right: 5px !important; }
.mrm, .mam, .mhm { margin-right: 10px !important; }
.mrl, .mal, .mhl { margin-right: 20px !important; }
.mrn, .man, .mhn { margin-right: 0px !important; }
.mbs, .mas, .mvs { margin-bottom: 5px !important; }
.mbm, .mam, .mvm { margin-bottom: 10px !important; }
.mbl, .mal, .mvl { margin-bottom: 20px !important; }
.mbn, .man, .mvn { margin-bottom: 0px !important; }
.mls, .mas, .mhs { margin-left: 5px !important; }
.mlm, .mam, .mhm { margin-left: 10px !important; }
.mll, .mal, .mhl { margin-left: 20px !important; }
.mln, .man, .mhn { margin-left: 0px !important; }

.hint {
	color: gray;
	font-size: .75em;
}
